.textcenter{
	text-align:center;
}

.ui-content{
	padding:0px;
}
.ui-block-a, .ui-block-b, .ui-block-c{
	height:100px;
}



@media all and (min-width: 600px) {
  .ui-grid-a .ui-block-a {
    width: 50%;
    float: left;
    
  }
  .ui-grid-a .ui-block-b{
    width: 50%;
    float: left;
  }
  .ui-grid-b .ui-block-a {
    width: 33.3%;
    float: left;
    
  }
  .ui-grid-b .ui-block-b{
    width: 33.3%;
    float: left;
  }
  .ui-grid-b .ui-block-c{
    width: 33.3%;
    float: left;
  }
  .dis, .ltc, .prem, .under{
	display:block;
   }
  
}

@media all and (max-width: 599px) {
  .ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b, .ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c {
    width: 100%;
  }
 .dis, .ltc, .prem, .under{
	display:none;
   }
  
}

/* Iphone Landscape*/
@media screen and (max-device-width: 480px) { 
	#iphone4,#ipad{
		display:none;
	}
	#iphone{
		display:block;
	}
}

/* Iphone Portrait*/

@media screen and (max-device-width: 320px) { 
	#iphone4, #ipad{
		display:none;
	}
	#iphone{
		display:block;
	}
}

/* Iphone4 Portrait*/
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) { 
	#iphone4{
		display:block;
	}
	#iphone, #ipad{
		display:none;
	}
}
#iphone4, #iphone,  #ipad{
		display:none;
	}
/*Ipad Landscape*/

@media (max-device-width: 1024px) and (orientation: landscape) { 
	#ipad{
		display:block;
	}
	#iphone4, #iphone{
		display:none;
	}
}

/*Ipad Portrait*/

@media (max-device-width: 768px) and (orientation: portrait) { 
	#ipad{
		display:block;
	}
	#iphone4, #iphone{
		display:none;
	}
}
.ui-header .ui-select .ui-btn{
	margin: .1em 0;
}
.ui-header .ui-btn{
	margin: .1em 0;
}