{{> header}}
<div data-role="content" class="login">			
        <div class="ui-body" >
                
                <form id="loginform">
                <div data-role="fieldcontain" class="ui-hide-label">
                        <input type="text"  class="ui-corner-none" name="username"  value="" placeholder="{{t 'login.username'}}"/>
                </div>
                <div data-role="fieldcontain" data-corners="false" class="ui-hide-label">
                        <input type="text" class="ui-corner-none" name="password" value="" placeholder="{{t 'login.password'}}"/>
                </div>
                </form>
                <button type="submit" data-ajax="false" id="login-btn" data-corners="false" data-theme="b" name="submit" value="submit-value">{{t "login.login_btn"}}</button>
                
        </div>
</div>